# **PRÉ-PROCESSAMENTO**

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
df_stdhours = pd.read_csv(r"C:\Users\admin\Desktop\Projetos\DBs\STD Hours_1s2022.csv", delimiter=';')

In [3]:
df_stdhours.head()

,Order numb,Posting Da,Act. start,Material C,GrV,Act,StTextKy,StTextKy_1,Phase description short text,Pure Std H,...,Act _3,Rev,Founder Or,Father Ord,Plnt,Split orde,Split orde_4,Work cente,C,Time
0,1820587547,03.01.2022,11:07:37,0OO9417L,94170359,160,PRA1,BRAM108,COLAR ADORNO (BIADESIVO),"0,330",...,190,,,,BR50,,,46.34,X,15:07:37
1,1820587547,03.01.2022,11:07:37,0OO9417L,94170359,180,PRA1,BRAM108,COLAR ADORNO (BIADESIVO),"0,330",...,190,,,,BR50,,,46.34,X,15:07:37
2,1820587547,03.01.2022,11:07:37,0OO9417L,94170359,140,PRA1,BRAM118,CRAVAR ADORNO NO FRONTAL,"0,230",...,190,,,,BR50,,,46.34,X,15:07:37
3,1820587547,03.01.2022,11:07:37,0OO9417L,94170359,150,PRA1,BRAM118,CRAVAR ADORNO NO FRONTAL,"0,230",...,190,,,,BR50,,,46.34,X,15:07:37
4,1820587547,03.01.2022,13:42:02,0OO9417L,94170359,200,AMM1,BRAM075,SERRAR HASTES (FARO),"0,240",...,210,,,,BR50,,,46.34,X,17:42:02

## **Análise dos Atributos (df_stdhours)**

### **Order numb = número da ordem de produção**

In [3]:
df_stdhours['Order numb'].value_counts()

1825474556    161
1825322707    142
1822457943    115
1822510481    110
1824361033    107
             ...
1825698056      1
1825698384      1
1825698385      1
1823459427      1
1826751296      1
Name: Order numb, Length: 69352, dtype: int64

In [16]:
df_stdhours['Order numb'].isnull().sum()

0

### **Posting Da = data em que o pedido de produção foi feito**

In [4]:
df_stdhours['Posting Da'].value_counts()

30.06.2022    9508
28.06.2022    9045
30.05.2022    8839
27.06.2022    8732
15.06.2022    8684
              ...
06.03.2022      18
23.01.2022      16
19.06.2022       7
01.05.2022       2
05.06.2022       2
Name: Posting Da, Length: 161, dtype: int64

In [10]:
df_stdhours['Posting Da'].value_counts().sort_index()

01.02.2022    6846
01.04.2022    6325
01.05.2022       2
01.06.2022    8061
02.02.2022    6700
              ...
30.05.2022    8839
30.06.2022    9508
31.01.2022    6992
31.03.2022    6949
31.05.2022    7423
Name: Posting Da, Length: 161, dtype: int64

In [15]:
df_stdhours['Posting Da'].isnull().sum()

0

#### OBS: precisa trocar o tipo dessa variável para 'date' depois!

### **Material C = informação do que foi pedido para ser produzido (modelos acabados ou componentes)**

In [21]:
df_stdhours['Material C '].value_counts()

0OO9417        34287
0RX7047        24320
0OO9448        13858
1TE4357A01      9070
0OO9341         8631
               ...
1TE4357B01         2
1SZ1062A00         2
RAX4079AB          2
1AJA08SA01         1
RTE3492AA          1
Name: Material C , Length: 1617, dtype: int64

In [22]:
df_stdhours['Material C '].value_counts().sort_index()

0AN3063L         54
0AN4297        1360
0AN4299         462
0AN4301        1442
0AN4304         500
               ...
RAX4117AB        30
RAX4121AB        30
RGL5617AC         6
RTE3492AA         1
RTE4439AA         2
Name: Material C , Length: 1617, dtype: int64

In [23]:
df_stdhours['Material C '].isnull().sum()

0

#### OBS: tem a presença de espaços em cada linha de dado dessa coluna, até no cabeçalho. Será necessário remover estes espaços depois.

#### Não queremos estudar dados com relação a produção de componentes, apenas de modelos acabados, então será necessário remover todas as linhas cujo item nessa coluna não comece com "0", que é o caractere que identifica modelos acabados!

### **GrV (grid value) = diferentes variações de um mesmo modelo/material**

In [24]:
df_stdhours['GrV     '].value_counts()

            27319
94170559    10990
5196  54     7279
PT055 AA     5563
PT505 AA     4718
            ...
HV143 AA        1
92720256        1
VM280 AA        1
2499  53        1
2897  53        1
Name: GrV     , Length: 4547, dtype: int64

In [26]:
df_stdhours['GrV     '].isnull().sum()

0

#### OBS: também tem espaços nas linhas dessa coluna que precisam ser removidos para um tratamento posterior dos dados.

#### Talvez faça mais sentido posteriormente juntas as colunas "Material C" e "GrV" para montar uma coluna de "SKU", que é um identificador único de cada item que foi feito o pedido de produção.

### **StTextKy = código das milestones (grupos de operações realizadas pelos operadores)**

In [27]:
df_stdhours['StTextKy'].value_counts()

INJ1        121322
LIN1        115640
SAL1         76852
VAP1         75786
EMB1         65252
             ...
LEN2            13
VAP3             5
INJ2             2
RLIN             1
RDEC             1
Name: StTextKy, Length: 66, dtype: int64

In [3]:
df_stdhours['StTextKy'].isnull().sum()

0

#### OBS: Há espaços entre os itens dessa coluna que também precisarão ser removidos.

### **StTextKy_1 = códigos das BRAS (operações individuais realizadas por cada operador)**

In [4]:
df_stdhours['StTextKy_1'].value_counts()

BRAP013     32519
BRAM009     28106
BRAM010     26904
BRAM037     26524
BRAI021     25528
            ...
BRAS040         1
BRAE050         1
BRA5078         1
BRA5035         1
BRAP075         1
Name: StTextKy_1, Length: 460, dtype: int64

In [5]:
df_stdhours['StTextKy_1'].isnull().sum()

0

#### OBS: Há espaços entre os itens dessa coluna que também precisarão ser removidos.

### **Entered By = Usuário/pessoa que realizou determinada operação em uma peça**

In [6]:
df_stdhours['Entered By  '].value_counts()

GICELES         63830
MARCELOCB       49935
MSILVA1         42733
FABIANOA        35426
MAYARAO         33519
                ...
CESAREDR            1
WELLINGTONT         1
MAIARAAS            1
BEATRIZB            1
JESSICABS           1
Name: Entered By  , Length: 156, dtype: int64

In [7]:
df_stdhours['Entered By  '].isnull().sum()

0

#### OBS: Há espaços entre os itens dessa coluna que também precisarão ser removidos.

#### Os nomes não estão escritos em um padrão. Como este é o código de usuário da pessoa, as vezes ele começa com o primeiro nome da pessoa, as vezes com o sobrenome, então talvez faça sentido substituir posteriormente estes códigos de usuários por um código numérico simples.

### **Cost Ctr = Centro de custo da fábrica (setor da linha de produção)**

In [8]:
df_stdhours['Cost Ctr '].value_counts()

132-45565    290257
132-31265    233321
132-10365    178446
132-07565    129642
132-31865     68885
132-07265     62319
Name: Cost Ctr , dtype: int64

In [9]:
df_stdhours['Cost Ctr '].isnull().sum()

0

#### OBS: Existem apenas 7 centros de custo (setores) na linha de produção da fábrica, mas o centro de custo 'polimento e galvânica' (A00200) está sendo considerado dentro do centro de custo 'solda metal' (132-07265), portanto será necessário identificar quem são os operadores que trabalham no centro de custo 'polimento e galvânica' e separá-los, através de uma tabela externa.

#### Podemos depois substituir o código dos centros de custo por um código numérico.

### **Work ctr = centro de trabalho (subsetor dentro de um setor da produção)**

In [10]:
df_stdhours['Work ctr'].value_counts()

A0010300    127169
A0008102    116173
A0007500     77611
A0010600     76794
A0008105     65818
A0010604     58226
A0010301     56551
A0025500     51277
A0010603     43327
A0008100     38655
A0008103     36674
A0020403     33109
A0008104     32937
A0020100     31262
A0007201     24479
A0007202     23544
A0019800     20769
A0010601     16100
A0007200     14296
A0010302     12334
A0010602      4911
A0020402       816
A0020401        38
Name: Work ctr, dtype: int64

In [11]:
df_stdhours['Work ctr'].isnull().sum()

0

#### OBS: Os códigos dos centros de trabalho podem ser substituídos posteriormente por números.

### **OBS: As demais colunas nesta base de dados não possuem informações que agregam para o seu objetivo, que é fornecer uma visão de quais funcionários estavam trabalhando em qual setor da produção da fábrica em um determinado momento, portanto serão todas excluídas!**

## **Análise dos tipos de atributos.**

In [12]:
df_stdhours.dtypes

Order numb                                    int64
Posting Da                                   object
Act. start                                   object
Material C                                   object
GrV                                          object
Act                                           int64
StTextKy                                     object
StTextKy_1                                   object
Phase  description short text                object
Pure Std H                                   object
       Yield                                 object
Entered By                                   object
Cost Ctr                                     object
Ctrl                                         object
Completion                                    int64
Type                                         object
Confirmati                                   object
Location                                     object
Work ctr                                     object
Work ctr_2                                   object
Un                                           object
Act _3                                        int64
Rev                                          object
Founder Or                                   object
Father Ord                                   object
Plnt                                         object
Split orde                                   object
Split orde_4                                 object
Work cente                                  float64
C                                            object
Time                                         object
dtype: object

## **Valores missing (NAN)**

In [13]:
df_stdhours.isnull().sum()

Order numb                                  0
Posting Da                                  0
Act. start                                  0
Material C                                  0
GrV                                         0
Act                                         0
StTextKy                                    0
StTextKy_1                                  0
Phase  description short text               0
Pure Std H                                  0
       Yield                                0
Entered By                                  0
Cost Ctr                                    0
Ctrl                                        0
Completion                                  0
Type                                        0
Confirmati                                  0
Location                                    0
Work ctr                                    0
Work ctr_2                                  0
Un                                          0
Act _3                                      0
Rev                                         0
Founder Or                                  0
Father Ord                                  0
Plnt                                        0
Split orde                                  0
Split orde_4                                0
Work cente                                  0
C                                           0
Time                                        0
dtype: int64

In [15]:
df_zppoutput = pd.read_csv(r"C:\Users\admin\Desktop\Projetos\DBs\zppoutput_1s2022.csv", delimiter=';')

In [16]:
df_zppoutput.head()

,Material,Grid Value,Order Number,Yield to confirm,Posting date,Local time,Scrap to confirm,Std.text Key,Split quantity,Scrap Reason code,Control key,Material Group,Entered by,Order Type,BO Quantity,Planned finish date,Qty rework 1,Reason code description,Split Order,Split Reason code
0,1TE2749A01,PT083 AA,1823457820,"420,000",04.02.2022,23:59:59,"0,000",VAP1,"0,000",,ZP11,L174,NADIELDL,ZP10,0,10.02.2022,"0,000",,,
1,1AJA13QA01,PT541 AA,1824912991,"100,000",18.04.2022,23:59:59,"0,000",VAP1,"0,000",,ZP11,L263,CAPARECIDA,ZP10,0,22.04.2022,"0,000",,,
2,0P93152,G543 53,1825322319,"89,000",27.05.2022,23:59:59,"0,000",KIT1,"0,000",,ZP14,L196,JENIFFERTLB,ZP10,0,31.05.2022,"0,000",,,
3,1AM8257A01,DR272 AA,1825934050,"129,000",03.06.2022,23:59:59,"0,000",DEC1,"0,000",,ZP11,L265,MARCOSPBDA,ZP10,0,03.06.2022,"0,000",,,
4,0J83229,K186 53,1825931422,"98,000",07.06.2022,23:59:59,"0,000",ENG1,"0,000",,ZP11,L196,CAPARECIDA,ZP10,0,22.06.2022,"0,000",,,

## **Análise dos Atributos (df_zppoutput)**

### **Material = informação do que foi pedido para ser produzido (modelos acabados ou componentes)**

In [17]:
df_zppoutput[' Material   '].value_counts()

 0RX7047        24023
 0OO9417        20763
 0OO9448         9234
 0RX7046         7316
 1AJ7922E01      7298
                ...
0VO5418L            1
0RX7047             1
 0VO5292L           1
0RX4378V            1
 RAX4085AB          1
Name:  Material   , Length: 1625, dtype: int64

In [18]:
df_zppoutput[' Material   '].isnull().sum()

0

#### OBS: Há espaços entre os itens dessa coluna que também precisarão ser removidos.

### **Grid Value = diferentes variações de um mesmo modelo/material**

In [19]:
df_zppoutput['Grid Value'].value_counts()

              25441
5196  54       7797
94170559       7043
PT055 AA       5698
5196  56       4533
              ...
G131  54          1
6267B953          1
6253B853          1
I361  57          1
H537  54          1
Name: Grid Value, Length: 4558, dtype: int64

In [20]:
df_zppoutput['Grid Value'].isnull().sum()

0

#### OBS: Talvez faça mais sentido posteriormente juntas as colunas "Material" e "Grid Value" para montar uma coluna de "SKU", que é um identificador único de cada item que foi feito o pedido de produção.

### **Order numb = número da ordem de produção**

In [21]:
df_zppoutput['Order Number'].value_counts()

1826167234    36
1823767255    34
1825462458    34
1824999921    33
1823336173    32
              ..
1826364389     1
1826364511     1
1825944479     1
1826364385     1
1825977072     1
Name: Order Number, Length: 75349, dtype: int64

In [22]:
df_zppoutput['Order Number'].isnull().sum()

0

### **Yield to confirm = número de peças produzidas**

In [23]:
df_zppoutput['Yield to confirm'].value_counts()

          0,000     163269
        100,000      61221
        300,000      20563
        320,000      19248
         50,000      14187
                     ...
        294,700          1
        535,000          1
        760,000          1
         28,970          1
        446,000          1
Name: Yield to confirm, Length: 447, dtype: int64

In [24]:
df_zppoutput['Yield to confirm'].isnull().sum()

0

#### OBS: As linhas com  peças que possuem valor 0 nesta coluna podem ser excluídas, já que não agregarão nada para a análise posteriormente

### **Posting date = data em que o pedido de produção foi feito**

In [25]:
df_zppoutput['Posting date'].value_counts()

24.06.2022      7050
23.06.2022      6727
27.06.2022      6690
28.06.2022      6649
21.06.2022      6622
                ...
20.03.2022         4
03.04.2022         3
12.06.2022         3
15.05.2022         1
02.01.2022         1
Name: Posting date, Length: 173, dtype: int64

In [26]:
df_zppoutput['Posting date'].isnull().sum()

0

#### OBS: Esta coluna precisará ser convertida para o tipo 'date' posteriormente.

### **Std.text Key = código das Milestones (grupos de operações realizadas pelos operadores)**

In [27]:
df_zppoutput['Std.text Key'].value_counts()

QPA1            98605
LIN1            74850
ENG1            35213
PST1            33695
VAP1            30827
                ...
VMP3               13
LEN2               11
FMI2                5
VAP3                4
INJ2                1
Name: Std.text Key, Length: 91, dtype: int64