In [8]:
import numpy as np
import pandas as pd

In [16]:
df_stdhours = pd.read_csv(r"C:\Users\admin\Desktop\Projetos\TG1\std hours.csv", delimiter=';')
df_wtyor = pd.read_csv(r"C:\Users\admin\Desktop\Projetos\TG1\wtyor.csv", delimiter=';')

C:\Users\admin\AppData\Local\Temp\ipykernel_25684\553771294.py:2: DtypeWarning: Columns (1,7,10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_wtyor = pd.read_csv(r"C:\Users\admin\Desktop\Projetos\TG1\wtyor.csv", delimiter=';')

In [19]:
df_stdhours

,Order numb,Posting Date,Time,Material,Grid Value,Cost Center,Work center,Bra Op,Milestone,Phase description short text,Yield,Pure Std H
0,1.828918e+09,01.03.2023,13:17:04,0RB3647NL,92363251,132-45565,A0008105,BRAM022,EMB,EMBALAR ARMAÇÕES,73,"0,316"
1,1.828918e+09,01.03.2023,13:17:04,0RB3647NL,92363251,132-45565,A0008105,BRAM023,EMB,FLANELAR ARMAÇÕES (SOLAR),73,"0,39"
2,1.828918e+09,01.03.2023,13:17:04,0RB3647NL,92363251,132-45565,A0008105,BRAM068,EMB,LEITURA TAG RFID,73,"0,036"
3,1.829056e+09,07.03.2023,19:00:14,0GZ3111,K465 54,132-45565,A0008100,BRAM003,LEN,LAPIDAR LENTE APRESENTAÇÃO,44,"0,073"
4,1.829056e+09,07.03.2023,19:00:14,0GZ3111,K465 54,132-45565,A0008100,BRAM007,LEN,CARIMBAR TAMPOGRAFIA NA LENTE ESQUERDA,44,"0,044"
...,...,...,...,...,...,...,...,...,...,...,...,...
108291,1.832415e+09,18.03.2023,21:15:47,0RB4167,601/8G59,132-31265,A0010603,BRAP006,QPA,DESENGANCHEIRAR E REVISAR ARMAÇÕES,253,"0,337"
108292,1.832416e+09,18.03.2023,21:32:48,0AX3102U,8122 56,132-31865,A0010301,RDUM,REN,,53,0
108293,1.832416e+09,18.03.2023,21:33:04,0AX3102U,8122 56,132-31265,A0010603,BRAP006,QPA,DESENGANCHEIRAR E REVISAR ARMAÇÕES,53,"0,071"
108294,1.832416e+09,18.03.2023,22:52:04,0AX4026S,81228756,132-31265,A0010603,BRAP006,QPA,DESENGANCHEIRAR E REVISAR ARMAÇÕES,210,"0,28"
108295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
df_wtyor

,Material Group,Production Order,Material,Grid Value,Work center,Milestone,Qtd,Material,Rework Reason code,Scrap quantity,BO Quantity,Entered by,Type,Time,Postg date,Scrap Reason code,Product line
0,L139,1831197919,1CP6408A00,,#N/D,SNI,300,7,,0,0,FELIPEDOE,ZP10,05:08:18,01.03.2023,,CP
1,L139,1831197924,1CP6408A00,,#N/D,SNI,300,7,,0,0,FELIPEDOE,ZP10,10:24:39,01.03.2023,,CP
2,L139,1831354803,1CP6805A00,,#N/D,SNI,300,7,,0,0,PATRICIAMAL,ZP10,11:36:28,01.03.2023,,CP
3,L139,1831197941,1CP6408A00,,#N/D,SNI,300,7,,0,0,FELIPEDOE,ZP10,10:22:31,01.03.2023,,CP
4,L139,1831197923,1CP6408A00,,A0010300,INJ,300,7,,0,0,ALOISIOS,ZP10,10:32:34,01.03.2023,,CP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101057,L545,1831732253,1MP9417C01,GY046 AA,#N/D,SFI,300,7,,"0,00",0,DIEGOTV,ZP10,05:49:33,18.03.2023,,MP
101058,L545,1832328916,1MP9417C00,BK172 AA,#N/D,SFI,119,7,,"0,00",0,ROSIMEIREAS,ZP10,18:58:35,18.03.2023,,MP
101059,L545,1832399568,1MP9417C00,GY046 AA,A0008102,SPT,0,7,,"32,00",0,ALIDIA,ZP10,22:41:26,18.03.2023,LSD,MP
101060,L545,1832347128,1MP9417C00,GY046 AA,#N/D,SFI,162,7,,"0,00",0,JENIFFERTLB,ZP10,04:25:21,18.03.2023,,MP
101061,L545,1832328918,1MP9417C00,BK172 AA,A0008102,EMB,120,7,,"0,00",0,FELLIPERD,ZP10,12:40:06,18.03.2023,,MP

In [24]:
df_stdhours.dropna()

,Order numb,Posting Date,Time,Material,Grid Value,Cost Center,Work center,Bra Op,Milestone,Phase description short text,Yield,Pure Std H
0,1.828918e+09,01.03.2023,13:17:04,0RB3647NL,92363251,132-45565,A0008105,BRAM022,EMB,EMBALAR ARMAÇÕES,73,"0,316"
1,1.828918e+09,01.03.2023,13:17:04,0RB3647NL,92363251,132-45565,A0008105,BRAM023,EMB,FLANELAR ARMAÇÕES (SOLAR),73,"0,39"
2,1.828918e+09,01.03.2023,13:17:04,0RB3647NL,92363251,132-45565,A0008105,BRAM068,EMB,LEITURA TAG RFID,73,"0,036"
3,1.829056e+09,07.03.2023,19:00:14,0GZ3111,K465 54,132-45565,A0008100,BRAM003,LEN,LAPIDAR LENTE APRESENTAÇÃO,44,"0,073"
4,1.829056e+09,07.03.2023,19:00:14,0GZ3111,K465 54,132-45565,A0008100,BRAM007,LEN,CARIMBAR TAMPOGRAFIA NA LENTE ESQUERDA,44,"0,044"
...,...,...,...,...,...,...,...,...,...,...,...,...
108290,1.832415e+09,18.03.2023,21:15:26,0RB4167,601/8G59,132-31865,A0010301,RDUM,REN,,253,0
108291,1.832415e+09,18.03.2023,21:15:47,0RB4167,601/8G59,132-31265,A0010603,BRAP006,QPA,DESENGANCHEIRAR E REVISAR ARMAÇÕES,253,"0,337"
108292,1.832416e+09,18.03.2023,21:32:48,0AX3102U,8122 56,132-31865,A0010301,RDUM,REN,,53,0
108293,1.832416e+09,18.03.2023,21:33:04,0AX3102U,8122 56,132-31265,A0010603,BRAP006,QPA,DESENGANCHEIRAR E REVISAR ARMAÇÕES,53,"0,071"
108294,1.832416e+09,18.03.2023,22:52:04,0AX4026S,81228756,132-31265,A0010603,BRAP006,QPA,DESENGANCHEIRAR E REVISAR ARMAÇÕES,210,"0,28"

In [25]:
df_wtyor.dropna()

,Material Group,Production Order,Material,Grid Value,Work center,Milestone,Qtd,Material,Rework Reason code,Scrap quantity,BO Quantity,Entered by,Type,Time,Postg date,Scrap Reason code,Product line
0,L139,1831197919,1CP6408A00,,#N/D,SNI,300,7,,0,0,FELIPEDOE,ZP10,05:08:18,01.03.2023,,CP
1,L139,1831197924,1CP6408A00,,#N/D,SNI,300,7,,0,0,FELIPEDOE,ZP10,10:24:39,01.03.2023,,CP
2,L139,1831354803,1CP6805A00,,#N/D,SNI,300,7,,0,0,PATRICIAMAL,ZP10,11:36:28,01.03.2023,,CP
3,L139,1831197941,1CP6408A00,,#N/D,SNI,300,7,,0,0,FELIPEDOE,ZP10,10:22:31,01.03.2023,,CP
4,L139,1831197923,1CP6408A00,,A0010300,INJ,300,7,,0,0,ALOISIOS,ZP10,10:32:34,01.03.2023,,CP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101057,L545,1831732253,1MP9417C01,GY046 AA,#N/D,SFI,300,7,,"0,00",0,DIEGOTV,ZP10,05:49:33,18.03.2023,,MP
101058,L545,1832328916,1MP9417C00,BK172 AA,#N/D,SFI,119,7,,"0,00",0,ROSIMEIREAS,ZP10,18:58:35,18.03.2023,,MP
101059,L545,1832399568,1MP9417C00,GY046 AA,A0008102,SPT,0,7,,"32,00",0,ALIDIA,ZP10,22:41:26,18.03.2023,LSD,MP
101060,L545,1832347128,1MP9417C00,GY046 AA,#N/D,SFI,162,7,,"0,00",0,JENIFFERTLB,ZP10,04:25:21,18.03.2023,,MP
101061,L545,1832328918,1MP9417C00,BK172 AA,A0008102,EMB,120,7,,"0,00",0,FELLIPERD,ZP10,12:40:06,18.03.2023,,MP