# **EXPLORAÇÃO DOS DADOS**

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
df_zppoutput = pd.read_csv(r"C:\Users\admin\Desktop\Projetos\DBs\zppoutput_1s2022.csv", delimiter=';')

In [16]:
df_zppoutput.head()

,Material,Grid Value,Order Number,Yield to confirm,Posting date,Local time,Scrap to confirm,Std.text Key,Split quantity,Scrap Reason code,Control key,Material Group,Entered by,Order Type,BO Quantity,Planned finish date,Qty rework 1,Reason code description,Split Order,Split Reason code
0,1TE2749A01,PT083 AA,1823457820,"420,000",04.02.2022,23:59:59,"0,000",VAP1,"0,000",,ZP11,L174,NADIELDL,ZP10,0,10.02.2022,"0,000",,,
1,1AJA13QA01,PT541 AA,1824912991,"100,000",18.04.2022,23:59:59,"0,000",VAP1,"0,000",,ZP11,L263,CAPARECIDA,ZP10,0,22.04.2022,"0,000",,,
2,0P93152,G543 53,1825322319,"89,000",27.05.2022,23:59:59,"0,000",KIT1,"0,000",,ZP14,L196,JENIFFERTLB,ZP10,0,31.05.2022,"0,000",,,
3,1AM8257A01,DR272 AA,1825934050,"129,000",03.06.2022,23:59:59,"0,000",DEC1,"0,000",,ZP11,L265,MARCOSPBDA,ZP10,0,03.06.2022,"0,000",,,
4,0J83229,K186 53,1825931422,"98,000",07.06.2022,23:59:59,"0,000",ENG1,"0,000",,ZP11,L196,CAPARECIDA,ZP10,0,22.06.2022,"0,000",,,

## **Análise dos Atributos (df_zppoutput)**

### **Material = informação do que foi pedido para ser produzido (modelos acabados ou componentes)**

In [17]:
df_zppoutput[' Material   '].value_counts()

 0RX7047        24023
 0OO9417        20763
 0OO9448         9234
 0RX7046         7316
 1AJ7922E01      7298
                ...
0VO5418L            1
0RX7047             1
 0VO5292L           1
0RX4378V            1
 RAX4085AB          1
Name:  Material   , Length: 1625, dtype: int64

In [18]:
df_zppoutput[' Material   '].isnull().sum()

0

#### OBS: Há espaços entre os itens dessa coluna que também precisarão ser removidos.

### **Grid Value = diferentes variações de um mesmo modelo/material**

In [19]:
df_zppoutput['Grid Value'].value_counts()

              25441
5196  54       7797
94170559       7043
PT055 AA       5698
5196  56       4533
              ...
G131  54          1
6267B953          1
6253B853          1
I361  57          1
H537  54          1
Name: Grid Value, Length: 4558, dtype: int64

In [20]:
df_zppoutput['Grid Value'].isnull().sum()

0

#### OBS: Talvez faça mais sentido posteriormente juntas as colunas "Material" e "Grid Value" para montar uma coluna de "SKU", que é um identificador único de cada item que foi feito o pedido de produção.

### **Order numb = número da ordem de produção**

In [21]:
df_zppoutput['Order Number'].value_counts()

1826167234    36
1823767255    34
1825462458    34
1824999921    33
1823336173    32
              ..
1826364389     1
1826364511     1
1825944479     1
1826364385     1
1825977072     1
Name: Order Number, Length: 75349, dtype: int64

In [22]:
df_zppoutput['Order Number'].isnull().sum()

0

### **Yield to confirm = número de peças produzidas**

In [23]:
df_zppoutput['Yield to confirm'].value_counts()

          0,000     163269
        100,000      61221
        300,000      20563
        320,000      19248
         50,000      14187
                     ...
        294,700          1
        535,000          1
        760,000          1
         28,970          1
        446,000          1
Name: Yield to confirm, Length: 447, dtype: int64

In [24]:
df_zppoutput['Yield to confirm'].isnull().sum()

0

#### OBS: As linhas com  peças que possuem valor 0 nesta coluna podem ser excluídas, já que não agregarão nada para a análise posteriormente

### **Posting date = data em que o pedido de produção foi feito**

In [25]:
df_zppoutput['Posting date'].value_counts()

24.06.2022      7050
23.06.2022      6727
27.06.2022      6690
28.06.2022      6649
21.06.2022      6622
                ...
20.03.2022         4
03.04.2022         3
12.06.2022         3
15.05.2022         1
02.01.2022         1
Name: Posting date, Length: 173, dtype: int64

In [26]:
df_zppoutput['Posting date'].isnull().sum()

0

#### OBS: Esta coluna precisará ser convertida para o tipo 'date' posteriormente.

### **Std.text Key = código das Milestones (grupos de operações realizadas pelos operadores)**

In [27]:
df_zppoutput['Std.text Key'].value_counts()

QPA1            98605
LIN1            74850
ENG1            35213
PST1            33695
VAP1            30827
                ...
VMP3               13
LEN2               11
FMI2                5
VAP3                4
INJ2                1
Name: Std.text Key, Length: 91, dtype: int64

### **Material Group = código das famílias de materiais (grupos de materiais que possuem determinadas características em comum)**

In [3]:
df_zppoutput['Material Group'].value_counts()

L196              509934
L263              110498
L265               51816
L174               36854
L177               13022
L325               10954
L214                5035
L176                2889
L322                2279
L386                 773
L271                 614
L225                 459
L198                 316
L281                 314
L180                 254
L139                  52
L447                  47
L334                  45
L261                  25
L240                  18
L413                  10
L378                   9
Name: Material Group, dtype: int64

#### OBS: Apenas os valores L196 serão considerados na análise, portanto poderá ser feito um filtro posteriormente para trazer apenas as linhas com este valor nesta coluna.

#### Há espaços entre os itens dessa coluna que também precisarão ser removidos.

### **Entered By = Usuário/pessoa que realizou determinada operação em uma peça**

In [4]:
df_zppoutput['Entered by  '].value_counts()

MARCELOCB       40669
MARCOSPBDA      39380
GICELES         28365
MARIANAAN       20288
PATRICIAMAL     19836
                ...
MTIRICH             1
MENEZESMR           1
CRISTINAMCL         1
BEATRIZB            1
WELLINGTONT         1
Name: Entered by  , Length: 162, dtype: int64

#### OBS: Há espaços entre os itens dessa coluna que também precisarão ser removidos.

#### Os nomes não estão escritos em um padrão. Como este é o código de usuário da pessoa, as vezes ele começa com o primeiro nome da pessoa, as vezes com o sobrenome, então talvez faça sentido substituir posteriormente estes códigos de usuários por um código numérico simples.

### **OBS: As demais colunas nesta base de dados não possuem informações que agregam para o seu objetivo, que é fornecer uma visão de quantas peças foram produzidas em qual centro de custo, portanto serão todas excluídas!**

## **Análise dos tipos de atributos.**

In [5]:
df_zppoutput.dtypes

 Material                                  object
Grid Value                                 object
Order Number                                int64
Yield to confirm                           object
Posting date                               object
Local time                                 object
Scrap to confirm                           object
Std.text Key                               object
Split  quantity                            object
Scrap Reason code                          object
Control key                                object
Material Group                             object
Entered by                                 object
Order Type                                 object
BO Quantity                                 int64
Planned finish date                        object
Qty rework 1                               object
Reason code description                    object
Split Order                                object
Split Reason code                          object
dtype: object

## **Valores missing (NAN)**

In [6]:
df_zppoutput.isnull().sum()

 Material                                  0
Grid Value                                 0
Order Number                               0
Yield to confirm                           0
Posting date                               0
Local time                                 0
Scrap to confirm                           0
Std.text Key                               0
Split  quantity                            0
Scrap Reason code                          0
Control key                                0
Material Group                             0
Entered by                                 0
Order Type                                 0
BO Quantity                                0
Planned finish date                        0
Qty rework 1                               0
Reason code description                    0
Split Order                                0
Split Reason code                          0
dtype: int64