# **PRÉ-PROCESSAMENTO**

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [3]:
df_stdhours = pd.read_csv(r"C:\Users\admin\Desktop\Projetos\DBs\STD Hours_1s2022.csv", delimiter=';')

In [4]:
df_wtyor = pd.read_csv(r"C:\Users\admin\Desktop\Projetos\DBs\zppoutput_1s2022.csv", delimiter=';')

In [8]:
df_stdhours.head()

,Order numb,Posting Da,Act. start,Material C,GrV,Act,StTextKy,StTextKy_1,Phase description short text,Pure Std H,...,Act _3,Rev,Founder Or,Father Ord,Plnt,Split orde,Split orde_4,Work cente,C,Time
0,1820587547,03.01.2022,11:07:37,0OO9417L,94170359,160,PRA1,BRAM108,COLAR ADORNO (BIADESIVO),"0,330",...,190,,,,BR50,,,46.34,X,15:07:37
1,1820587547,03.01.2022,11:07:37,0OO9417L,94170359,180,PRA1,BRAM108,COLAR ADORNO (BIADESIVO),"0,330",...,190,,,,BR50,,,46.34,X,15:07:37
2,1820587547,03.01.2022,11:07:37,0OO9417L,94170359,140,PRA1,BRAM118,CRAVAR ADORNO NO FRONTAL,"0,230",...,190,,,,BR50,,,46.34,X,15:07:37
3,1820587547,03.01.2022,11:07:37,0OO9417L,94170359,150,PRA1,BRAM118,CRAVAR ADORNO NO FRONTAL,"0,230",...,190,,,,BR50,,,46.34,X,15:07:37
4,1820587547,03.01.2022,13:42:02,0OO9417L,94170359,200,AMM1,BRAM075,SERRAR HASTES (FARO),"0,240",...,210,,,,BR50,,,46.34,X,17:42:02

In [7]:
df_wtyor.head()

,Material,Grid Value,Order Number,Yield to confirm,Posting date,Local time,Scrap to confirm,Std.text Key,Split quantity,Scrap Reason code,Control key,Material Group,Entered by,Order Type,BO Quantity,Planned finish date,Qty rework 1,Reason code description,Split Order,Split Reason code
0,1TE2749A01,PT083 AA,1823457820,"420,000",04.02.2022,23:59:59,"0,000",VAP1,"0,000",,ZP11,L174,NADIELDL,ZP10,0,10.02.2022,"0,000",,,
1,1AJA13QA01,PT541 AA,1824912991,"100,000",18.04.2022,23:59:59,"0,000",VAP1,"0,000",,ZP11,L263,CAPARECIDA,ZP10,0,22.04.2022,"0,000",,,
2,0P93152,G543 53,1825322319,"89,000",27.05.2022,23:59:59,"0,000",KIT1,"0,000",,ZP14,L196,JENIFFERTLB,ZP10,0,31.05.2022,"0,000",,,
3,1AM8257A01,DR272 AA,1825934050,"129,000",03.06.2022,23:59:59,"0,000",DEC1,"0,000",,ZP11,L265,MARCOSPBDA,ZP10,0,03.06.2022,"0,000",,,
4,0J83229,K186 53,1825931422,"98,000",07.06.2022,23:59:59,"0,000",ENG1,"0,000",,ZP11,L196,CAPARECIDA,ZP10,0,22.06.2022,"0,000",,,